/Semana02/subsecuencia_maxima/nbproject/private/
/Semana02/subsecuencia_maxima/build/
/Semana03/divide_y_venceras/nbproject/private/
/Semana03/divide_y_venceras/build/
/Semana06/dispersión/nbproject/private/
/Semana06/dispersión/build/
